<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/tabs"></ion-back-button>
  </ion-buttons>
    <ion-title *ngIf="windpark">{{ windpark.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<img src="https://www1.wdr.de/nachrichten/westfalen-lippe/Vorzeigemodell-windpark-coesfeld-100~_v-gseagaleriexl.jpg" id="backdrop">
<ion-content class="ion-padding">
  <ion-card *ngIf="windpark">
    <img src="https://www.tagesschau.de/multimedia/bilder/offshore-windpark-105~_v-original.jpg"/>
    <ion-card-header>
      <ion-card-title>{{ windpark.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Windräder: {{ windpark.amount }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Leistung: {{ windpark.performance }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Baujahr: {{ windpark.constructionYear }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-text>
            Typ: {{ windpark.type }}
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-text>
            Ort: {{ windpark.place }}
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Land-Kreis: {{ windpark.district }}</ion-label>
        </ion-item>
        <ion-item [expandable]="true">
          <ion-text>
            Bemerkungen: {{ windpark.notes }}
          </ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>