<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/tabs"></ion-back-button>
  </ion-buttons>
    <ion-title *ngIf="windpark">{{ windpark.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<img src="https://www1.wdr.de/nachrichten/westfalen-lippe/Vorzeigemodell-windpark-coesfeld-100~_v-gseagaleriexl.jpg" id="backdrop">
<ion-content class="ion-padding">
  <ion-card *ngIf="windpark">
    <img src="https://www.tagesschau.de/multimedia/bilder/offshore-windpark-105~_v-original.jpg"/>
    <ion-card-header>
      <ion-card-title>{{ windpark.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Windräder: {{ windpark.amount }} MW</p>
      <p>Leistung: {{ windpark.performance }} MW</p>
      <p>Baujahr: {{ windpark.constructionYear }}</p>
      <p>Typ: {{ windpark.type }}</p>
      <p>Ort: {{ windpark.place }}</p>
      <p>Land-Kreis: {{ windpark.district }}</p>
      <p>Bemerkungen: {{ windpark.notes }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>